/************** FONTS *****************/

@import url('https://fonts.googleapis.com/css?family=Ledger:400,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

/************** GENERAL *****************/

body{ font: 16px/1.6 'Ledger', sans-serif;  }
body p{ font: 16px/1.6 'Lato', sans-serif; }
h1{ font-size: 28px; margin: 15px 0 15px; }
h2{ font-size: 24px; margin-top: 0; }
h3{ font-size: 20px; margin-top: 0; }
h4{ font-size: 18px; margin-top: 0; }

/* Header - Main Menu */
.igrejapu-header{ margin-bottom: 0;}
.igrejapu-header-middle, .igrejapu-header, .row {position: relative;}
.menu-area{ background: #ffffff; padding: 5px 0; }
.igrejapu-header-middle{ height: 100px; }
/*.igrejapu-slot-l{ height: 50%; }*/
.main-menu{font-size: 16px;}
.main-menu ul{ list-style: none; padding: 0; margin: 0; }
.main-menu ul li{ display: inline;  margin: 0 50px 0 0; font-size: 18px; font-weight: bold;}
.main-menu ul li:last-child{ margin: 0; }
.main-menu ul li a{ text-transform: capitalize; color: #3b0808; text-decoration: none;}
.main-menu ul  li.current-menu-item a{ color:#b3483e; }
.igrejapu-action{text-align: center; padding: 0; margin: 0}
.igrejapu-action li{ position: relative; vertical-align: middle; display: inline; text-decoration: none;}

/* Align */
.align{ display: flex; align-items: center; width: 100%; }

/* Slider */
.recent-post-slider.design-2 .post-image-bg{ min-height: 700px; }
.recent-post-slider.design-2 .post-content-left{ display: flex; align-items: center; }
.recent-post-slider .slick-dots li button { border: 0 !important; border-radius: 0 !important; width: 29px !important; height: 8px !important;
}.recent-post-slider .slick-dots li.slick-active button { background: #3b0808 !important;}

/* Footer */
.igrejapu-footer{font-size: 12px; line-height: 20px; clear: both;}
.igrejapu-footer{background: #111111; color: #ffffff;}
.igrejapu-copyright{position: relative;font-size: 12px;padding: 35px 0;opacity: .8;}
.igrejapu-copyright p{margin-bottom: 0;}

/* Paginator */
.post-nav{ position: relative; padding-top: 4px; min-height: 43px; clear: both; text-align: center; margin-bottom: 50px; }
.pager{margin: 0; padding: 0; height: 100%; width: 100%;}
.pager li{ height: 50px; width: 85px; display: inline-block; vertical-align: top; border-radius: 5px; line-height: 50px;}
.pager .active{background-color: rgba(94,94,94,0.1); font-size: 16px;}
.pager .previous{color: #FFF; background-color: #009cff; margin-left: 10px;}
.pager .next{color: #FFF; background-color: #009cff; margin-left: 10px;}
.pager .first{color: #FFF; background-color: #3b0808; margin-left: 10px;}
.pager .latest{color: #FFF; background-color: #3b0808; margin-left: 10px;}

.pager a{color: #FFF; text-decoration: none; transition: all 400ms linear; font-size: 16px; font-weight: bold;}
.pager .page-number{color: rgb(31, 30, 30);}
.pager .page-number-li:hover{background-color: rgba(94,94,94,0.1);}

.pager .previous:hover{box-shadow: 5px 2px 10px rgba(0,0,0,0.5); transition: all 400ms linear; }
.pager .next:hover{box-shadow: 5px 2px 10px rgba(0,0,0,0.5); transition: all 400ms linear;}
.pager .first:hover{box-shadow: 5px 2px 10px  rgba(0,0,0,0.5);; background: #701e1e; transition: all 400ms linear;}
.pager .latest:hover{box-shadow: 5px 2px 10px rgba(0,0,0,0.5);; background: #701e1e; transition: all 400ms linear;}

/* Map */
.map iframe{ display: block; }

/* Header - Modal Search */
.window{display: none;width: 600px;height: 200px;position: absolute;left: 0;top:0;z-index: 9900;padding: 10px;border-radius: 10px;}
#mascara{display: none;position: absolute;background: #000 ;left: 0;top:0;z-index: 9000;}
.search-form{padding: 0;}